.card {
    width: 400px;
    border: 2px solid black;
    border-radius: 25px;
    padding: 10px;
    margin: 10px;
  }
  img {
    width: 100%;
    border-radius: 25px;
  }
  h2 {
    color:red;
  }
  span {
    color: yellow;
  }
  h4 {
    text-align: right;
    color:blue;
  }
  #pets {
    display: flex;
    justify-content: space-evenly;
  }
  @media(max-wrap:375px){
    #pets{
        flex-wrap:wrap;
    }
  }